body{
background-color:#f1f1f1;
font-family: 'Sintony', sans-serif;
color:#333;
margin:0;
padding:0;
}

#wrapper{
width:960px;
background-color:#f8f8f8;
margin:0 auto;
border-left:1px solid #ccc;
border-right:1px solid #ccc;
}

#header{
}

#nav{
width:960px;
height:40px;
border-bottom:1px solid #ccc;
}

#nav a{
display:inline;
padding:10px;
text-decoration:none;
background-color:#f1f1f1;
}

#nav a:hover{
background-color:#bababa;
height:80px;
}

#content {
width:675px;
float:left;
padding:10px;
}

#footer {
clear:both;
width:960px;
height:135px;
border-top:1px solid #ccc;
}

#footer p {
padding:10px;
}
